{% extends 'base.html.twig' %}

{% block title %}Hello LookupController!{% endblock %}

{% block body %}
<div>
    <form>
    <input type="search" name="search" placeholder="Rechercher ..." />
    <button type="submit"> Rechercher</button>
    </form>
</div>    

{% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.Price }}€</td>
                <td>{{ product.Stock }}</td>

                <td>
                {% if product.image is not null %}
                        <img src="{{ asset('/uploads/'~ product.image) }}" style="max-width: 250px;" />
                    {% endif %}
                </td>
                <td>
                    
                    <a href="{{ path('app_product_show', {'id': product.id}) }}"class="btn btn-primary">
                        Voir
                    </a>
                    
                    

                    <a  href="{{path('cart_add', {'id':product.id}) }}"class="btn btn-success">
                         Ajouter
                    </a>

                    
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
    
{% endblock %}
