{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container pt-5 ">
    <div class= "row">
    <h1>{{ 'product.title'|trans }}</h1>
    
    {% for product in products %}
    
    <div class="card col" style="width: 18rem;">
        {% if product.image is not null %}
            <img src="{{ asset('/uploads/'~ product.image) }}" class="img-thumbnail" alt="...">
        {% endif %}
        <div class="card-body ">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.Description }}.</p>
            <p class="card-text">{{ product.Price }}€</p>
            <a href="{{path('app_product_show', {'id':product.id}) }}" class="btn btn-outline-primary">Voir Détail</a>
            <a href="{{path('cart_add', {'id':product.id}) }}" class="btn btn-outline-primary">Ajouter au Panier</a>
        </div>  
        </div>  
        
        {% endfor %}
        </div>   
    </div>

{% endblock %}
