{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <h1>{{ 'product.title'|trans }}</h1>
    
    {% for product in products %}
    
    <div class="card" style="width: 18rem;">
        {% if product.image is not null %}
            <img src="{{ asset('/uploads/'~ product.image) }}" class="img-thumbnail" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.Description }}.</p>
            <p class="card-text">{{ product.Price }}€</p>
            <a href="{{path('cart_add', {'id':product.id}) }}" class="btn btn-primary">Voir Détail</a>

<<<<<<< HEAD
                <td>
                {% if product.image is not null %}
                        <img src="{{ asset('/uploads/'~ product.image) }}" style="max-width: 250px;" />
                    {% endif %}
                </td>
                <td>
                    
                    <a href="{{ path('app_product_show', {'id': product.id}) }}"class="btn btn-primary">
                        Voir
                    </a>
                    
                    

                    <a  href="{{path('cart_add', {'id':product.id}) }}"class="btn btn-success">
                         Ajouter
                    </a>

                    
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
=======
            <a href="{{path('cart_add', {'id':product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
{% else %}
    <p>Il n'y a pas de produits à afficher.</p>
{% endfor %}
>>>>>>> 0f6d431da1fbe0d0a933663ca54faa1a8c3a25dd
    </table>

    <a href="{{ path('app_product_new') }}"class="btn btn-primary">
        Ajouter un Produit
    </a>
{% endblock %}
