{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <h1>{{ 'product.title'|trans }}</h1>
    
    <table class="table">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.Description }}</td>
                <td>{{ product.Price }}€</td>
                <td>{{ product.Stock }}</td>

                <td>
                {% if product.image is not null %}
                        <img src="{{ asset('/uploads/'~ product.image) }}" style="max-width: 250px;" />
                    {% endif %}
                </td>
                <td>
                    
                    <a href="{{ path('app_product_show', {'id': product.id}) }}"class="btn btn-primary">
                        Voir
                    </a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}"class="btn btn-info">
                        Modifier
                    </a>
                    <a href="{{path('delete_product', {'id':product.id})}}" class="btn btn-danger">
                        Supprimer
                    </a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}"class="btn btn-primary">
        Ajouter un Produit
    </a>
{% endblock %}
