{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Le Produit</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.Description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.Price }}€</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ product.Stock }}</td>
            </tr>
            <tr>
                
                {% if product.image is not null %}
                        <img src="{{ asset('/uploads/'~ product.image) }}" style="max-width: 600px;" />
                    {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_product_index') }}">Reuour à la liste</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>

{% endblock %}
